.projects-page {
    margin: 0 180px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    gap: 25px;
    position: relative;
}
