html, body {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  overflow-y: scroll
}

:root {
  --secondary-color: #495057;
  --tertiary-color: #f8f8f8;
  --primary-color: #FFCE86;
}

.hidden-form {
  display: none;
}