.about-me {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-color);
    background-color: #e9ecef;
}

.about-me__text {
    font-size: 1.5rem;
    line-height: 3.8rem;
    padding: 10px 50px;
    margin: 0 200px;
    text-align: center;
    position: relative;
    margin-bottom: 0px;
    display: block;
    color: var(--secondary-color);
}

.word-highlight {
    background-color: var(--primary-color);
    padding: 2px 6px;
    padding-top: 6px;
}

.hover {
    transition: 0.3s;
    display: inline-block;
    padding: 3px 6px;
    padding-top: 6px;
    line-height: 1;
}

.hover:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.rotate {
    display: inline-block;
    transition: 0.3s;
}

.rotate:hover {
    cursor: pointer;
    transform: rotate(90deg);
}


@media only screen and (max-width: 1220px) {
    .about-me__text {
        font-size: 1.5rem !important;
        line-height: 3.5rem !important;
        padding: 15px 20px;
        margin: 0 130px;
    }
}

@media only screen and (max-width: 900px) {
    .about-me__text {
        font-size: 0.9rem !important;
        line-height: 0.8rem;
        font-weight: 300;
        padding: 15px 20px;
        margin: 0 130px;
    }
}

@media only screen and (max-width: 570px) {
    .about-me__text {
        font-size: 0.9rem !important;
        line-height: 0.8rem;
        font-weight: 300;
        padding: 15px 20px;
        margin: 0 130px;
    }
}

@media only screen and (max-width: 490px) {
    .about-me__text {
        font-size: 0.7rem !important;
        line-height: 0.8rem;
        font-weight: 200;
        padding: 10px 20px;
        margin: 0 100px;
    }
}

@media only screen and (max-width: 370px) {
    .about-me__text {
        font-size: 0.5rem !important;
        line-height: 1.2rem;
        font-weight: 100;
        padding: 10px 20px;
        margin: 0 100px;
    }
}